<?xml version="1.0"?>
<model>
  <name>cube</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Hung Dang Pham</name>
    <email>hungdangpham.ai@gmail.com</email>
  </author>

  <description>
    Simple 5cm cube for pick and place simulation.
  </description>
</model>
