<?xml version="1.0"?>
<model>
  <name>table_tennis_table</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Table Tennis Simulation</name>
  </author>
  <description>
    A regulation table tennis table (2.74m x 1.525m x 0.76m) with net
  </description>
</model>
